/*--------------------------------*/
/*Sitewide*/
/*--------------------------------*/

body {
    background-color: #04162b;
    color: #FFFFFF;
    padding-left: 25px;
    padding-top: 25px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

a:active {
    text-decoration: none;
    color: #fff;
}

p {
    padding-left: 50px;
}

/*--------------------------------*/
/*Maps*/
/*--------------------------------*/

#sf-map {
    width: 100%;
    height: 800px;
}

.window-content {
    color: #04162b;
    width: 150px;
}

.map-pin {
    padding-top: 5px;
    color: black;
}
