{% extends 'base.html' %}
{% block head %}

    <title>Geolocation</title>
    <style>
        html, body, #map-canvas {
            height: 100%;
            margin: 0;
        }

        .gm-style-iw {
            color: #04162b;;
        }
    </style>
{% endblock %}


{% block body %}
<div id="map-canvas"></div>

<script src="https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDqR90MYpn5Y7DBybSrpHneiV-cJYeDv2k&callback=initialize" async defer></script>

<script src="/static/geolocate.js"></script>


{% endblock %}